<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 row">
    <div class="thumbnail">
        <img src="{{image}}">
        <div class="caption">
            <h3>{{title}}</h3>
            <h4>{{venue}}</h4>
            <h4>{{formattedDate}}</h4>
            <a href="http://midi.is/tonleikar" class="btn btn-success" role="button">Kaupa miða</a>
        </div>
    </div>
</div>