<div class="row">
    {{#each this}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a href="#details/{{@index}}"><img src="{{image}}"></a>
                <div class="caption">
                    <h3><a href="#details/{{@index}}">{{title}}</a></h3>
                    <h4>Þessi atburður byrjar {{relativeDate}}</h4>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    {{/each}}
</div>